.del-btn{
    flex: 1;
    height: 100%;
    background: blueviolet;
    border-left: 0.5px solid white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}