@import "./updateBtn.css";
@import "./deleteBtn.css";
@import "./updateInput.css";

.toDoBox{
    width:100%;
    height: 90px;
    display: flex;
    flex-flow:wrap;
    justify-content: center;
    align-items: flex-start;
    background: silver;
    border-bottom: 1px solid black;
}

.toDo{
    width:90%;
    list-style: none;
    background: chocolate;
    font-size: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnBox{
    width: 100px;
    height: 40px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}