.App{
    width: 100vw;
    height: 80vh;
    
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    background: white;
}

* > input:focus, * > button:focus{
    outline: none;
}

* > button{
    cursor: pointer;
}

