.App{
    width: 100vw;
    height: 80vh;
    
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    background: none;
}

* > input:focus, * > button:focus{
    outline: none;
}

* > button{
    cursor: pointer;
}

.submitBtn {
    width: 50px;
    height: 40px;
    border: none;
    border-radius: 20px;
    margin-left:15px;
    color: white;
    font-size: 18px;
    line-height: 30px;
    opacity: 1;
    background: rgba(0,0,0,0.3);
}
