@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import "./reset.css";
@import "./App.css";
@import "./NamePart.css";
@import "./WriteToDo.css";
@import "./ControlToDo.css";


html, body{
    box-sizing: border-box;
    background: magenta;
    
}

* {
    font-family: 'Rubik', sans-serif;
}

body{
    background: cyan;
}


#root{
    width: 100vw;
    height: 100vh;
    background: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

* *::before *::after{
    box-sizing: inherit;
}