@import "./reset.css";
@import "./App.css";
@import "./NamePart.css";
@import "./WriteToDo.css";
@import "./ControlToDo.css";


html, body{
    box-sizing: border-box;
    background: magenta;
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
}

body{
    background: cyan;
}


#root{
    width: 100vw;
    height: 100vh;
    background: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

* *::before *::after{
    box-sizing: inherit;
}